*{
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
    width: 100%;
}

.wrapper__right__body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.wrapper__right__body__updatedNews{
    margin-top: 20px;
}

.wrapper__right__body__title{
    font-size: 13px;
    font-weight: 700;
    color: #55B2D4;  
}

.wrapper__right__body__title span{
    font-size: 8px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 5px;
    font-family: 'DungGeunMo';
    color: black;
}

.wrapper__right__body__updatedNews__hr{
    width: 464px;
    height: 0;
    border: 0.5px solid #999999;
    margin: 10px 0 8px 0;
}

.wrapper__right__body__ment{
    font-size: 11px;
    font-weight: 400;
    color: #999999;
}

.wrapper__right__body__myVideo__title{
    margin-bottom: 26px;
}

.wrapper__right__body__video{
    width: 464px;
    height: 240px;
    margin-top: 15px;
    overflow: hidden;
}